<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Application Planner</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/stuffStyle.css">

</head>
<% let array = [];
    for(let i = 0; i < used.length; i++) {
        array.push(used[i].categoryId);
} %>
<body>
    <%- include('partials/navbar') %>
    <!-- Actual page content! -->
    <div class="container">
        <div class="section" id="list">
            <h1>Your Categories:</h1>
            <table>
                <thead>
                    <tr>
                        <th>Category</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < categories.length; i++ ){%>
                        <%if (categories[i].categoryId >= 0){%>
                            <tr>
                                <td> <%= categories[i].categoryName %></td>
                                <td>
                                    <%if (array.indexOf(categories[i].categoryId) == -1){%>
                                        <a class = "btn-small waves-effect waves-light red" 
                                            href = "/categories/<%=categories[i].categoryId %> + /delete">
                                            <i class = "material-icons right">delete</i>Delete
                                        </a>
                                    <% } else{ %>
                                        <a class = "btn-small waves-effect waves-light grey" 
                                            onclick="M.toast({html: 'Category is in use!', displayLength: 1000})">
                                            <i class = "material-icons right">delete</i>Delete
                                        </a>
                                    <% } %>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>

            </table>
        </div>

        <div class="section" id="add">
            <h2>Add a category:</h2>
            <form id="addForm" method="get" action="/categories"> <!-- default action is the page's URL --> 
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" id="categoryNameInput" name="categoryName" class="validate" data-length="32" required>
                        <label for="categoryNameInput">Category name:</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit">
                    <i class="material-icons right">send</i>
                    Submit
                </button>
            </form>
        </div>
    </div>

    <script src="/javascripts/materialize_autoinit.js"></script>

</body>

</html>