
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Entry</title>
        
        <!-- Materialize CSS and Icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="shortcut icon" type="image/jpg" href="/images/favicon.ico"/>
    </head>
<tbody>
    <%- include ('partials/navbar')%>
    <div class="container">
        <h1>Welcome!</h1>
        <h2>Use this to manage your applications</h2>
            <a class="btn" href ="/myapplications">
                <i class = "material-icons right">arrow_forward</i>
                <% if (!isLoggedIn) { %>
                    Press to login!
                <%} else {%>
                    Press to Continue!
                <%}%>
            </a>
    </div>
    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Auto-initialize Materialize -->
    <script src="/scripts/materializeAutoinit.js"></script>
</tbody>
</html>