<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Report</t,itle>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
        <link rel="stylesheet" href="/stylesheets/assignmentsStyle.css">
    
    </head>
<body>
    <%- include ('partials/navbar')%>

    <div class = "container">
        <div class = "section flow-text" id="details">
            <h1>Error Details:</h1>
            
            <div class = "flow-text">
                <a class="btn-small waves-effect waves-light flow-text" href = "/">
                    <i class = "materials-icons left">arrow_back_ios</i>
                    Return to your reports
                </a>
            </div>

            <table>
                <tr>
                    <th>Status</th>
                    <td>Unresolved</td>
                </tr>
                <tr>
                    <th>Service: </th>
                    <td>Homework Manager</td>
                </tr>
                <tr>
                    <th>Error: </th>
                    <td>Website not loading</td>
                </tr>
                <tr>
                    <th>Description: </th>
                    <td></td>
                </tr>
                <tr>
                    <th>Creation Date:</th>
                    <td>5/16/2023</td>
                </tr>
            </table>
        </div>

        <
    </div>
</body>
</html>