<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="/stylesheets/applicationsStyle.css">

</head>
<tbody>
    <%- include ('partials/navbar')%>

    <div class = "container">
        <h3>To do list (unfinished applications):</h3>
        <div class="divider"></div>
        <div class="section">
            <h5>Harvard</h5>
            <ul>
                <li>Essay needs to be completed</li>
                <li>Transcript is done</li>
                <li>Recommendations still missing</li>
                <li>Really need to get into this pls</li>
            </ul>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h5>RSI Summer Camp</h5>
            <ul>
                <li>Essay is done</li>
                <li>Transcript is done</li>
                <li>Recommendations still missing</li>
                <li>no way im getting in but worth a shot lol</li>
            </ul>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h5>Awesome Math</h5>
            <ul>
                <li>Essay needs to be completed</li>
                <li>Transcript needs to be sent</li>
                <li>Recommendations still missing</li>
                <li>not important, dont stress</li>
            </ul>
        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="/scripts/materializeAutoInit.js"></script>

</tbody>
</html>